.quiz{
    display: flex;
    flex-direction: row;
    font-size: 60px;
    justify-content: space-around;
    cursor: pointer;
}
.quiz_capitals > div{
    color: green;
    border:1px solid blue;
    padding: 15px;
    margin: 2px;
} 
.quiz_countries > div{
    color: blue;
    border:1px solid green;
    padding: 15px;
    margin: 2px;
} 